/*RESET*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: ;
}

/*UTILS*/
a {
	text-decoration: none;
	color: white;
}

h1 {
	font-size: 3rem;
}

p {
	padding: 30px 0;
	font-size: 1.3rem;
}

/*HEADER*/
.page-header {
	background-image: url(../img/jumbo.png);
	padding: 20px;
	background-size: cover;
	background-repeat: no-repeat;
}

.container {
	margin: 0 auto;
	width: 1000px;
	max-width: 100%;
	display: flex;
	justify-content: space-between;
}

.logo {
	width: 20%;
	background-image: url(../img/logo.svg);
	background-size: contain;
	background-repeat: no-repeat;
}

.link {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 60%;
}

.login {
	width: 6%;
	text-align: end;
	padding: 8px;
	color: rgb(35, 39, 42);
	border-radius: 25%;
	background-color: white;
}

/*MAIN*/
.first-section {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 370px;
}
.pink-box {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	align-items: center;
	justify-content: center;
	height: 300px;
	width: 700px;
	color: white;
	font-size: 1.23rem;
}

.download {
	border-radius: 25%;
	background-color: white;
	color: rgb(35, 39, 42);
	padding: 10px;
	margin-right: 30px;
}

.open-discord {
	border-radius: 25%;
	background-color: rgb(35, 39, 42);
	color: white;
	padding: 15px;
}

.second-section {
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 500px;
}

.container-box {
	width: 1000px;
	max-width: 100%;
	display: flex;
	justify-content: center;
}

.first-box {
	height: 400px;
	width: 60%;
	background-image: url(../img/item1.svg);
	background-size: cover;
}

.second-box {
	height: 400px;
	width: 40%;
	padding-top: 35px;
}

.third-section {
	background-image: url(../img/wave.svg);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 900px;
}

.even-row {
	display: flex;
	flex-direction: row-reverse;
}

.green-box {
	background-color: rgb(34, 136, 34);
	height: 900px;
	width: 100%;
	text-align: center;
}
.green-box > div > div {
	font-size: 1.4rem;
	background-image: url(../img/stars.svg);
}

.button {
	margin-top: 30px;
	color: white;
	background-color: rgb(114, 137, 218);
}

/*FOOTER*/

.footer-background {
	background-color: rgb(34, 38, 41);
	height: 700px;
	padding: 10px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer-container {
	width: 1000px;
	max-width: 100%;
	display: flex;
	justify-content: center;
	border-bottom: white solid;
	height: 550px;
}

.first-footer-box {
	background-color: rgb(238, 128, 129);
	height: 500px;
	width: 30%;
	border: black dashed;
}

.second-footer-box {
	display: flex;
	justify-content: center;
	background-color: rgb(31, 175, 166);
	height: 500px;
	width: 70%;
}

.footer-item {
	width: 25%;
	height: 500px;
	border: white dashed;
}

.footer-box {
	display: flex;
	justify-content: space-between;
	width: 1000px;
	max-width: 100%;
	background-color: rgb(126, 253, 210);
	margin-top: 30px;
}

.footer-nav {
	border: black dashed;
	background-color: rgb(245, 179, 193);
	padding: 10px;
	margin: 15px 0;
}
